Repository woowacourse-teams/2022-kkogkkog, pull requests merged in 2022-09, with the labels that each got.

#301 refactor: process.env.NODE_ENV는 웹팩 빌딩 서버 환경 변수이다. 프론트엔드 환경 변수는 PRODUC…
  frontend/src/@pages/download/index.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/apis/index.ts
Labels: 🦄 frontend, 🛠 refactor

#305 feat: 닉네임 글자 수 1-6글자 변경
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/Nickname.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/NicknameTest.java
Labels: 🕋 backend, 👊 feature

#309 feat: 소셜 로그인과 회원 가입을 분리
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/application/dto/MemberUpdateResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthController.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/application/SlackClient.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/dto/MemberCreateResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/dto/MemberNicknameUpdateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/WorkspaceUser.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/presentation/dto/MemberCreateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/presentation/dto/MemberUpdateMeRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/auth/documentation/AuthDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/SlackClientTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/documentation/MemberDocumentTest.java
Labels: 🕋 backend, 👊 feature

#314 feat: 스타일 이슈 해결 및 회원가입 로직 수정사항 반영
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useSlackOAuth.ts
  frontend/src/@pages/404/style.tsx
  frontend/src/Router.tsx
  frontend/src/apis/user.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/types/remote/request.ts
Labels: 🦄 frontend, 👊 feature

#317 feat: 로그인 성공 시 AccessToken를 api client에 setting
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/user/useSlackOAuth.ts
Labels: 🦄 frontend, 🛠 refactor, 🚨 hotfix

#320 docs: 회원가입 restDocs RequestBody 올바르게 변경
  backend/src/test/java/com/woowacourse/kkogkkog/auth/documentation/AuthDocumentTest.java
Labels: 🕋 backend, 📖 docs

#324 feat: coupon 테이블에 meeting_date 추가 및 reservation과 동기화
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/ReservationService.java
  backend/src/main/resources/db/migration/V2.0__move_meeting_date.sql
Labels: 🕋 backend, 🌐 infrastructure

#315 test: HistoryPage, ProfilePage 테스트
  frontend/.pnp.cjs
  frontend/.yarn/cache/dotenv-defaults-npm-2.0.2-436a76242a-c005960bd0.zip
  frontend/.yarn/cache/dotenv-npm-16.0.2-80af4821b1-ca8f9ca2d6.zip
  frontend/.yarn/cache/dotenv-webpack-npm-8.0.0-dccdb9867c-1ca629608b.zip
  frontend/jest.config.js
  frontend/package.json
  frontend/src/@components/@shared/Header/style.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@components/user/UserHistoryItem/style.tsx
  frontend/src/@components/user/UserHistoryList/style.tsx
  frontend/src/mocks/fixtures/users.ts
  frontend/src/setupTests.ts
  frontend/src/tests/HistoryPage.test.tsx
  frontend/src/tests/ProfilePage.test.tsx
  frontend/src/utils/rgba.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🦄 frontend, 👊 feature

#326 feat: 에러 처리 리팩터링 및 에러 바운더리 도입
  frontend/src/@components/@shared/ErrorBoundary.tsx
  frontend/src/@components/@shared/ErrorFallback/index.tsx
  frontend/src/@components/@shared/ErrorFallback/style.tsx
  frontend/src/@components/@shared/Icon/Icons/Reload.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/@shared/ToastProvider/index.tsx
  frontend/src/@hooks/@common/useTokenMutation.ts
  frontend/src/@hooks/@common/useTokenQuery.ts
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/service.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/@queries/utils.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useSlackOAuth.ts
  frontend/src/App.tsx
  frontend/src/index.tsx
Labels: 🦄 frontend, 👊 feature

#329 feat: 기존 meeting_date 데이터 마이그레이션
  backend/src/main/resources/db/migration/V2.1__move_meeting_date.sql
Labels: 🕋 backend, 🌐 infrastructure

#333 feat: react-query 1차 리팩터링 (계층 별 에러 처리 활성화, 훅 계층 구조 고도화 ...) & 알림함 플로우 개선
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/PageTemplate/index.tsx
  frontend/src/@components/@shared/PrevPathMemoization/index.tsx
  frontend/src/@components/user/MockLoginFrm/index.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@hooks/@queries/service.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/business/coupon.ts
  frontend/src/@hooks/business/user.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/coupon/useCouponModal.ts
  frontend/src/@hooks/ui/coupon/useCouponForm.ts
  frontend/src/@hooks/ui/user/useAuthenticateForm.ts
  frontend/src/@hooks/ui/user/useEditProfileForm.ts
  frontend/src/@hooks/ui/user/useSearchUser.ts
  frontend/src/@hooks/user/useSlackOAuth.ts
  frontend/src/@hooks/user/useUserHistory.ts
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/create/index.tsx
  frontend/src/@pages/history/index.tsx
  frontend/src/@pages/join/index.tsx
  frontend/src/@pages/profile/edit/index.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/App.tsx
  frontend/src/utils/regularExpression.ts
Labels: 🦄 frontend, 🛠 refactor

#340 refactor: React-Query 쿼리 2차 리팩터링 (query 훅의 쓰임 제한하기, 필드 유틸 함수화, 이슈 해결)
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/business/coupon.ts
  frontend/src/@hooks/business/user.ts
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/history/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/profile/index.tsx
Labels: 🦄 frontend, 🛠 refactor

#339 refactor: Dynamic Path를 함수화한다.
  frontend/package.json
  frontend/src/@components/@shared/ErrorBoundary.tsx
  frontend/src/@components/reservation/ReservationItem/index.tsx
  frontend/src/@hooks/ui/coupon/useCouponForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/history/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 🛠 refactor

#344 chore: dev build 명령어에 BABEL_ENV 추가
  frontend/package.json
Labels: 🦄 frontend, ⚙️ config

#349 feat: 09-15 QA
  frontend/src/@components/@shared/OnlyNumberDynamicRouting/index.tsx
  frontend/src/@components/@shared/SelectInput/index.tsx
  frontend/src/@components/@shared/SelectInput/style.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/user/UserSearchForm/style.tsx
  frontend/src/@hooks/ui/user/useEditProfileForm.ts
  frontend/src/@pages/404/index.tsx
  frontend/src/@pages/404/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/Router.tsx
  frontend/src/types/client/coupon.ts
Labels: 🦄 frontend, 🛠 refactor

#346 refactor: fetcher 함수의 response에서 data만 추출하여 return 한다.
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/apis/coupon.ts
  frontend/src/apis/service.ts
  frontend/src/apis/user.ts
Labels: 🦄 frontend, 🛠 refactor

#352 feat: 랜딩 페이지 라우팅 구분하기 & 인증 인가 고도화
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@hooks/ui/coupon/useCouponForm.ts
  frontend/src/@hooks/ui/user/useAuthenticateForm.ts
  frontend/src/@pages/404/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/landing/style.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/main/style.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 🛠 refactor

#356 hotfix: woowacourse 슬랙 푸시 알림이 전송되지 않는 문제
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/application/WoowacoursePushAlarmClient.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/WoowacoursePushAlarmClientTest.java
Labels: 🕋 backend, 🚨 hotfix

#357 feat: 쿠폰 히스토리 메시지 스타일 수정
  frontend/src/@components/coupon/CouponHistoryItem/style.tsx
Labels: 🦄 frontend, 👊 feature

#359 feat: ErrorFallback 스타일링, 에러 바운더리 리팩터링
  frontend/src/@components/@shared/ErrorBoundary.tsx
  frontend/src/@components/@shared/ErrorFallback/index.tsx
  frontend/src/@components/@shared/ErrorFallback/style.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/landing/style.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 🛠 refactor

#355 feat: 쿠폰 리스트 페이지의 필터링을 기억한다.
  frontend/src/@components/@shared/PrevPathMemoization/index.tsx
  frontend/src/@pages/404/style.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/history/index.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/main/style.tsx
  frontend/src/storage/session/index.ts
Labels: 🦄 frontend, 👊 feature

#363 feat: js 파일을 압축한다.
  frontend/.pnp.cjs
  frontend/.yarn/cache/compression-webpack-plugin-npm-10.0.0-0fc52a1cc9-2ac9079b7a.zip
  frontend/package.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🦄 frontend, 👊 feature

#364 fix: coupon 생성시 알람이 안오는 문제 해결
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/application/LegacyCouponService.java
Labels: 🐞 bug, 🕋 backend

#366 feat: Code Splitting, 페이지 컴포넌트를 lazy Component로 만든다.
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 👊 feature

#360 fix: 보내거나 받은 쿠폰을 상태별로 전체 조회할 때 Coupon을 반환하도록 수정
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepositoryTest.java
Labels: 🐞 bug, 🕋 backend

#369 fix: slack-appender.xml 실행 프로파일 이름 변경
  backend/src/main/resources/logback-spring.xml
Labels: 🕋 backend, 🚨 hotfix

#368 fix: ErrorBoundary에서 reset 로직 제거
  frontend/src/@components/@shared/ErrorBoundary.tsx
Labels: 🐞 bug, 🦄 frontend

#372 feat: Tree Shaking, Javascript uglify & minify
  frontend/.pnp.cjs
  frontend/.yarn/cache/@emotion-babel-plugin-npm-11.10.2-5ade7f379a-7f9e84b3c0.zip
  frontend/.yarn/cache/@emotion-hash-npm-0.9.0-efbc0b3f3f-b63428f7c8.zip
  frontend/.yarn/cache/@emotion-memoize-npm-0.8.0-c5dd451828-c87bb110b8.zip
  frontend/.yarn/cache/@emotion-serialize-npm-1.1.0-492b26b387-8f22f83194.zip
  frontend/.yarn/cache/@emotion-unitless-npm-0.8.0-aa125284fa-176141117e.zip
  frontend/.yarn/cache/@emotion-utils-npm-1.2.0-337992f692-55457a49dd.zip
  frontend/babel.config.js
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/config/webpack.prod.js
  frontend/package.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🦄 frontend, 👊 feature

#374 feat: 이미지 height 명시함으로써 Layout Shift 현상 제거
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Loading/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/coupon/CouponHistoryItem/index.tsx
  frontend/src/@components/coupon/CouponHistoryItem/style.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/reservation/ReservationItem/index.tsx
  frontend/src/@components/reservation/ReservationItem/style.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@components/user/UserHistoryItem/style.tsx
  frontend/src/@pages/404/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
  frontend/src/@pages/download/index.tsx
  frontend/src/@pages/join/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/@pages/profile/edit/index.tsx
  frontend/src/@pages/profile/index.tsx
Labels: 🦄 frontend, 👊 feature

#376 refactor: user profile 이미지 사이즈 변경
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/dto/SlackUserInfo.java
Labels: 🕋 backend, 🛠 refactor

#378 feat: 폰트 파일 포맷 변경, 서브셋 적용, local 폰트 사용할 수 있도록 구현, swap 적용
  frontend/public/assets/font/BMHANNAProOTF.otf
  frontend/public/assets/font/BMHANNAProOTF.woff2
  frontend/public/assets/font/Pretendard-Bold.woff
  frontend/public/assets/font/Pretendard-ExtraBold.woff
  frontend/public/assets/font/Pretendard-Light.woff
  frontend/public/assets/font/Pretendard-Medium.woff
  frontend/public/assets/font/Pretendard-Regular.woff
  frontend/public/assets/font/Pretendard-SemiBold.woff
  frontend/public/assets/font/Pretendard.woff2
  frontend/src/Router.tsx
  frontend/src/styles/globalStyle.ts
Labels: 🦄 frontend, 👊 feature

#380 feat: dynamic subset (Pretendard) 적용 및 배민 한나체 로컬 설정, woff2 파일 포맷 변경
  frontend/public/assets/font/BMHANNAProOTF.woff
  frontend/public/assets/font/BMHANNAProOTF.woff2
  frontend/public/assets/font/Pretendard.woff2
  frontend/public/index.html
  frontend/src/@pages/landing/style.tsx
  frontend/src/@pages/main/style.tsx
  frontend/src/styles/globalStyle.ts
Labels: 🦄 frontend, 👊 feature

#389 feat: 두가지 API 공존을 위한 API Versioning 추가
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthV2Controller.java
  backend/src/main/java/com/woowacourse/kkogkkog/common/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/presentation/MemberV2Controller.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/AuthDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberDocumentTest.java
Labels: 🕋 backend

#386 refactor: 슬랙 외부 라이브러리 응답 Response 객체들 구현
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/application/SlackClient.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/dto/BotTokenResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/dto/PostSlackMessageResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/dto/SlackUserTokenResponse.java
Labels: 🕋 backend, 🛠 refactor

#397 refactor: API 명세변경에 따른 프론트엔드 수정사항 반영하기
  frontend/src/@components/@shared/ErrorBoundary.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponHistoryItem/index.tsx
  frontend/src/@components/coupon/CouponHistoryList/index.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/coupon/CouponListSection/AcceptedCouponListSection/index.tsx
  frontend/src/@components/coupon/CouponListSection/AllCouponListSection/index.tsx
  frontend/src/@components/coupon/CouponListSection/FinishedCouponListSection/index.tsx
  frontend/src/@components/coupon/CouponListSection/WaitingCouponListSection/index.tsx
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/reservation/ReservationItem/index.tsx
  frontend/src/@components/reservation/ReservationList/index.tsx
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@components/user/UserHistoryList/index.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@components/user/UserSearchModal/index.tsx
  frontend/src/@hooks/@common/useInput.ts
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/business/coupon.ts
  frontend/src/@hooks/business/user.ts
  frontend/src/@hooks/ui/coupon/useCouponForm.ts
  frontend/src/@hooks/ui/coupon/useCouponPartner.ts
  frontend/src/@hooks/ui/user/useSearchUser.ts
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/create/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/history/index.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/profile/login/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/coupon.ts
  frontend/src/apis/user.ts
  frontend/src/constants/coupon.ts
  frontend/src/index.tsx
  frontend/src/types/client/common.ts
  frontend/src/types/client/user.ts
  frontend/src/types/coupon/client.ts
  frontend/src/types/coupon/remote.ts
  frontend/src/types/remote/request.ts
  frontend/src/types/remote/response.ts
  frontend/src/types/user/client.ts
  frontend/src/types/user/remote.ts
  frontend/src/types/utils.ts
  frontend/src/utils/time.ts
Labels: 🦄 frontend, 🛠 refactor

#395 refactor: axios headers에 Authorization 선언 병합
  frontend/src/types/axios.d.ts
Labels: 🦄 frontend, 🛠 refactor

#404 refactor: 상대 경로를 절대 경로로 수정
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponListSection/FinishedCouponListSection/index.tsx
  frontend/src/@components/coupon/CouponListSection/WaitingCouponListSection/index.tsx
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/business/coupon.ts
  frontend/src/@hooks/types.ts
  frontend/src/@hooks/ui/coupon/useCouponPartner.ts
  frontend/src/@hooks/ui/user/useAuthenticateForm.ts
  frontend/src/@hooks/ui/user/useEditProfileForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/utils/tobe-time.ts
Labels: 🦄 frontend, 🛠 refactor

#398 refactor: QueryClient.setQueryData의 Typing Issue 해결
  frontend/src/@hooks/@queries/user.ts
  frontend/src/types/react-query.d.ts
Labels: 🦄 frontend, 🛠 refactor
