Repository woowacourse-teams/2022-kkogkkog, pull requests merged in 2022-11, with the labels that each got.

#530 refactor: @ApplicationTest의 불필요한 애노테이션 제거
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/application/ApplicationTest.java
Labels: 🕋 backend, 🛠 refactor

#533 feat: Coupon 타입을 구별된 유니온으로 정의하여 couponStatus로 meetingDate 가드할 수 있도록 한다.
  frontend/src/mocks/fixtures/unregistered-coupon.ts
  frontend/src/types/coupon/client.ts
  frontend/src/types/coupon/remote.ts
  frontend/src/types/unregistered-coupon/client.ts
  frontend/src/types/utils.ts
Labels: 🦄 frontend, 👊 feature

#534 docs: README의 인프라 구조 수정
  README.md
Labels: 📖 docs, 🚨 hotfix
