Repository woowacourse-teams/2022-kkogkkog, pull requests merged in 2022-10, with the labels that each got.

#406 refactor: 구글 로컬 redirectUrl 변경
  backend/src/main/resources/application.yml
Labels: 🕋 backend, 🛠 refactor

#390 feat: 쿠폰 상세 조회를 받는 사람 또는 보낸 사람만 조회할 수 있게 변경
  backend/src/main/java/com/woowacourse/kkogkkog/common/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/exception/CouponNotAccessibleException.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/CouponController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
Labels: 🕋 backend, 👊 feature

#385 feat: static resource에 대한 캐싱 전략을 수립 후 적용
  frontend/config/webpack.common.js
  frontend/public/index.html
  frontend/src/@components/@shared/ErrorFallback/index.tsx
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Loading/index.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@pages/404/index.tsx
  frontend/src/@pages/join/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/profile/login/index.tsx
  frontend/src/assets/font/BMHANNAProOTF.woff
  frontend/src/assets/font/BMHANNAProOTF.woff2
  frontend/src/assets/images/404.png
  frontend/src/assets/images/beer.png
  frontend/src/assets/images/coffee.png
  frontend/src/assets/images/landing_logo.png
  frontend/src/assets/images/logo.png
  frontend/src/assets/images/meal.png
  frontend/src/assets/images/skeleton_coupon_big.png
  frontend/src/assets/images/skeleton_coupon_small.png
  frontend/src/styles/globalStyle.ts
  frontend/src/types/asset.d.ts
  frontend/src/types/coupon/client.ts
Labels: 🦄 frontend, 👊 feature

#408 feat: Google OAuth 구현 및 Redirect 페이지 리팩터링
  frontend/src/@components/@shared/Icon/Icons/Google.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/@shared/Icon/index.tsx
  frontend/src/@components/@shared/Redirect/index.tsx
  frontend/src/@components/user/MockLoginFrm/index.tsx
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/business/user.ts
  frontend/src/@hooks/ui/user/useAuthenticateForm.ts
  frontend/src/@pages/join/index.tsx
  frontend/src/@pages/oauth-redirect/index.tsx
  frontend/src/@pages/profile/login/index.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/@pages/slack-download-redirect/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/index.ts
  frontend/src/apis/user.ts
  frontend/src/types/user/client.ts
  frontend/src/types/user/remote.ts
Labels: 🦄 frontend, 👊 feature

#411 refactor: QueryClient 선언 병합 수정 및 useCouponPartner 함수 오버로드 수정
  frontend/src/@hooks/ui/coupon/useCouponPartner.ts
  frontend/src/types/react-query.d.ts
Labels: 🦄 frontend, 🛠 refactor

#414 fix: 쿠폰 상태 동시 수정시 베타 락 설정
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/ConcurrentCouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/domain/CouponFixture.java
Labels: 🐞 bug, 🕋 backend

#419 fix: 예약시간이 null인 경우에 대한 조건 추가
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/ConcurrentCouponServiceTest.java
Labels: 🐞 bug, 🕋 backend

#425 fix: 예약시간이 null인 경우에 대한 조건 추가
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
Labels: 🐞 bug, 🕋 backend

#427 fix: 받은 쿠폰 API 옹어를 sent로 변경
  backend/src/main/java/com/woowacourse/kkogkkog/common/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/CouponController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
Labels: 🕋 backend

#426 feat: 쿠폰 선택 페이지 개발
  frontend/src/@pages/coupon-create-select/index.tsx
  frontend/src/@pages/coupon-create-select/style.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/unregistered-coupon-list/create/index.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 👊 feature

#432 fix: CouponResponse와 MemberHistoryResponse Dto의 형식 변경
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/dto/MemberHistoryResponse.java
Labels: 🐞 bug, 🕋 backend

#433 refactor: v2 명세 변경 이슈 대응
  frontend/src/@components/coupon/CouponHistoryItem/index.tsx
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/coupon/CouponStatus/style.tsx
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@components/user/UserHistoryItem/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/apis/coupon.ts
  frontend/src/types/coupon/client.ts
  frontend/src/types/user/client.ts
  frontend/src/utils/time.ts
  frontend/src/utils/tobe-time.ts
Labels: 🦄 frontend, 🛠 refactor

#441 fix: received/sent 쿠폰을 거꾸로 설정한 에러 해결
  frontend/src/@pages/main/index.tsx
Labels: 🐞 bug, 🦄 frontend

#438 feat: 미등록 쿠폰 리스트 페이지 구현
  frontend/src/@components/@shared/Icon/Icons/Copy.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/unregistered-coupon/ExpiredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/RegisteredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/style.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponStatus/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponStatus/style.tsx
  frontend/src/@hooks/@queries/unregistered-coupon.ts
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/main/style.tsx
  frontend/src/@pages/unregistered-coupon-detail/index.tsx
  frontend/src/@pages/unregistered-coupon-list/index.tsx
  frontend/src/@pages/unregistered-coupon-list/style.tsx
  frontend/src/Router.tsx
  frontend/src/apis/unregistered-coupon.ts
  frontend/src/mocks/fixtures/unregistered-coupon.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/unregistered-coupon.ts
  frontend/src/storage/session/index.ts
  frontend/src/types/unregistered-coupon/client.ts
  frontend/src/types/unregistered-coupon/remote.ts
  frontend/src/types/utils.ts
  frontend/src/utils/clipboardCopy.ts
Labels: 🦄 frontend, 👊 feature

#439 fix: CouponNotFoundException 상속 변경, CouponHistoryResponse 시간 형태 변경
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/exception/CouponNotFoundException.java
Labels: 🐞 bug, 🕋 backend

#415 feat: 구글로 로그인했을 경우 기존 회원과 통합할 수 있도록 구현
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthController.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthV2Controller.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/application/GoogleClient.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/dto/GoogleUserDto.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/Member.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V2.3__make_user_id_nullable.sql
  backend/src/test/java/com/woowacourse/kkogkkog/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/AuthDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/GoogleClientTest.java
Labels: 🕋 backend, 👊 feature

#446 feat: useFetchUnregisteredCoupon 및 mock 코드 개발
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/ExpiredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/RegisteredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/UnregisteredCouponListSection/index.tsx
  frontend/src/@hooks/@queries/unregistered-coupon.ts
  frontend/src/@pages/unregistered-coupon-list/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/unregistered-coupon.ts
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/mocks/fixtures/unregistered-coupon.ts
  frontend/src/mocks/handlers/coupon.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/unregistered-coupon.ts
  frontend/src/types/unregistered-coupon/remote.ts
Labels: 🦄 frontend, 👊 feature

#450 fix: 약속이 확정된 쿠폰이 정상적으로 조회되지 않는 문제 해결
  backend/src/main/java/com/woowacourse/kkogkkog/KkogKkogApplication.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/AcceptedCouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/dto/AcceptedCouponsResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/domain/CouponFixture.java
Labels: 🐞 bug, 🕋 backend, 🚨 hotfix

#451 chore: 구글 로그인, 미등록 쿠폰 기능 감추기
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/profile/login/index.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend

#391 refactor: 레거시 도메인 및 API 제거
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthController.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthV2Controller.java
  backend/src/main/java/com/woowacourse/kkogkkog/common/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/event/PushAlarmEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/event/PushAlarmPublisher.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/event/WoowacoursePushAlarmEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/application/LegacyCouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/application/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/application/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/application/dto/CouponReservationResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/application/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/application/dto/CouponSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/domain/LegacyCoupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/domain/query/CouponDetailData.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/domain/query/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/domain/query/CouponReservationData.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/domain/repository/LegacyCouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/presentation/LegacyCouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/presentation/dto/CouponCreateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/presentation/dto/CouponsCreateResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/presentation/dto/CouponsReservationResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_coupon/presentation/dto/MyCouponsReservationResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_member/domain/LegacyMemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/legacy_member/domain/repository/MemberHistoryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/presentation/MemberV2Controller.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/dto/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/dto/ReservationUpdateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/domain/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/exception/ReservationNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/presentation/ReservationController.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/presentation/dto/ReservationChangeRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/presentation/dto/ReservationCreateRequest.java
  backend/src/main/resources/db/migration/V3.1__drop_reservation.sql
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/LegacyCouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/support/DocumentTest.java
Labels: 🕋 backend, 🛠 refactor

#453 refactor: default 메서드를 통해 findById 메서드에 따른 예외처리 중복 로직 제거
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/UnregisteredCouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponHistoryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/UnregisteredCouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/repository/MemberRepository.java
Labels: 🕋 backend, 🛠 refactor

#455 refactor: 컨트롤러, 서비스 빈들에 @RequiredArgsContructor 추가
  backend/src/main/java/com/woowacourse/kkogkkog/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthController.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/UnregisteredCouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/UnregisteredCouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/presentation/MemberController.java
Labels: 🕋 backend, 🛠 refactor

#458 feat: 미등록 쿠폰 등록 과정 구현
  frontend/src/@components/@shared/ErrorBoundary.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/style.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/ExpiredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/RegisteredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/UnregisteredCouponListSection/index.tsx
  frontend/src/@hooks/@queries/unregistered-coupon.ts
  frontend/src/@hooks/business/unregistered-coupon.ts
  frontend/src/@hooks/ui/user/useAuthenticateForm.ts
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/profile/login/index.tsx
  frontend/src/@pages/unregistered-coupon-list/index.tsx
  frontend/src/@pages/unregistered-coupon-register/ExpiredRegisteredCouponPage/index.tsx
  frontend/src/@pages/unregistered-coupon-register/ExpiredRegisteredCouponPage/style.tsx
  frontend/src/@pages/unregistered-coupon-register/IssuedRegisteredCouponPage/index.tsx
  frontend/src/@pages/unregistered-coupon-register/IssuedRegisteredCouponPage/style.tsx
  frontend/src/@pages/unregistered-coupon-register/RegisteredRegisteredCouponPage/index.tsx
  frontend/src/@pages/unregistered-coupon-register/RegisteredRegisteredCouponPage/style.tsx
  frontend/src/@pages/unregistered-coupon-register/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/unregistered-coupon.ts
  frontend/src/mocks/fixtures/unregistered-coupon.ts
  frontend/src/mocks/handlers/unregistered-coupon.ts
  frontend/src/storage/session/index.ts
  frontend/src/types/unregistered-coupon/client.ts
  frontend/src/types/unregistered-coupon/remote.ts
Labels: 🦄 frontend, 👊 feature

#465 refactor: Header 및 PageTemplate 컴포넌트 개선작업
  frontend/src/@components/@shared/ErrorFallback/index.tsx
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/PageTemplate/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/main/index.tsx
Labels: 🦄 frontend, 🛠 refactor

#476 fix: 미등록 쿠폰 등록이 안되는 문제
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/dto/RegisterCouponCodeRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/UnregisteredCouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/dto/UnregisteredCouponDtoFixture.java
Labels: 🕋 backend, 🚨 hotfix

#479 feat: 미등록 쿠폰 세부적인 기능 개선
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/index.tsx
  frontend/src/@hooks/@queries/unregistered-coupon.ts
  frontend/src/@hooks/business/coupon.ts
  frontend/src/@hooks/business/unregistered-coupon.ts
  frontend/src/@hooks/ui/unregistered-coupon/useUnregisteredForm.ts
  frontend/src/@pages/unregistered-coupon-register/IssuedRegisteredCouponPage/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/coupon.ts
  frontend/src/apis/unregistered-coupon.ts
  frontend/src/types/unregistered-coupon/remote.ts
Labels: 🦄 frontend, 👊 feature

#475 refactor: Icon 컴포넌트 이슈 해결 & Time Component 개선 작업
  frontend/src/@components/@shared/DownCount/index.tsx
  frontend/src/@components/@shared/Icon/Icons/Plus.tsx
  frontend/src/@components/@shared/Icon/Icons/Profile.tsx
  frontend/src/@components/@shared/Icon/index.tsx
  frontend/src/@components/@shared/UpCount/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponExpiredTime/index.tsx
  frontend/src/@hooks/ui/unregistered-coupon/useUnregisteredForm.ts
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/unregistered-coupon-detail/index.tsx
Labels: 🦄 frontend

#492 feat: 쿠폰 목록 반환에 페이지네이션을 추가
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/CouponController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
Labels: 🕋 backend, 👊 feature

#461 refactor: msw 변경된 명세에 맞게 대응
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/coupon.ts
  frontend/src/mocks/handlers/user.ts
  frontend/src/types/coupon/client.ts
Labels: 🦄 frontend, 🛠 refactor

#496 fix: 통합 알림봇에서 email이 null로 오는 경우 NPE 발생하는 문제 해결
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/domain/WoowacourseUserRepositoryImpl.java
Labels: 🕋 backend, 🚨 hotfix

#494 fix: 구글로만 회원가입한 유저 나의 정보 조회 NPE 발생
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/MemberService.java
Labels: 🐞 bug, 🕋 backend

#485 feat: 몸이 불편한 사용자도 키보드만으로 쿠폰 생성을 할 수 있다.
  frontend/src/@components/@shared/Modal/index.tsx
  frontend/src/@components/@shared/SelectInput/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@components/user/UserSearchForm/style.tsx
  frontend/src/@components/user/UserSearchModal/index.tsx
  frontend/src/@components/user/UserSearchModal/style.tsx
Labels: 🦄 frontend, 👊 feature

#499 refactor: 변수명 오타 제거
  frontend/src/@components/@shared/Input/style.tsx
  frontend/src/@components/@shared/SelectInput/style.tsx
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/coupon/CouponHistoryItem/style.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/reservation/ReservationSection/style.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponCreateForm/style.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/style.tsx
  frontend/src/@components/user/UserSearchModal/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/download/style.tsx
  frontend/src/@pages/unregistered-coupon-detail/index.tsx
  frontend/src/@pages/unregistered-coupon-detail/style.tsx
  frontend/src/@pages/unregistered-coupon-register/IssuedRegisteredCouponPage/style.tsx
  frontend/src/@pages/unregistered-coupon-register/RegisteredRegisteredCouponPage/index.tsx
  frontend/src/styles/theme.ts
Labels: 🦄 frontend, 🛠 refactor

#456 chore: 깃헙 PR 및 이슈 템플릿 형식 개선
  .github/ISSUE_TEMPLATE/backend_template.md
  .github/ISSUE_TEMPLATE/default_template.md
  .github/ISSUE_TEMPLATE/frontend_template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ⚙️ config

#491 feat: 쿠폰 리스트 페이지, 메인 페이지, 토스트의 웹 접근성 고려
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/ListFilter/index.tsx
  frontend/src/@components/@shared/ListFilter/style.tsx
  frontend/src/@components/@shared/SelectInput/style.tsx
  frontend/src/@components/@shared/ToastProvider/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.style.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/vertical.style.tsx
  frontend/src/@components/reservation/ReservationItem/index.tsx
  frontend/src/@components/reservation/ReservationItem/style.tsx
  frontend/src/@components/reservation/ReservationList/style.tsx
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/@components/reservation/ReservationSection/style.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponCreateForm/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/main/style.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/types/coupon/client.ts
Labels: 🦄 frontend, 👊 feature

#501 feat: 사이트 내에 뒤로가기 버튼은 필요하지 않다.
  frontend/src/@components/@shared/Header/index.tsx
Labels: 🦄 frontend, 👊 feature

#503 feat: 미등록 쿠폰 삭제 기능 추가 (Endpoint 수정 사항 반영)
  frontend/src/@hooks/@queries/unregistered-coupon.ts
  frontend/src/@hooks/business/unregistered-coupon.ts
  frontend/src/@pages/unregistered-coupon-detail/index.tsx
  frontend/src/@pages/unregistered-coupon-detail/style.tsx
  frontend/src/@pages/unregistered-coupon-list/index.tsx
  frontend/src/@pages/unregistered-coupon-register/IssuedRegisteredCouponPage/index.tsx
  frontend/src/apis/unregistered-coupon.ts
  frontend/src/mocks/fixtures/unregistered-coupon.ts
  frontend/src/mocks/handlers/unregistered-coupon.ts
Labels: 🦄 frontend, 👊 feature

#506 feat: 미등록 쿠폰 생성 이 후 라우팅 로직을 수정 & `UnregisteredCoupon.Preview` 컴포넌트 & UnregisteredCoupon Type 구조 개선
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/ExpiredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/RegisteredCouponListSection/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponListSection/UnregisteredCouponListSection/index.tsx
  frontend/src/@hooks/ui/unregistered-coupon/useUnregisteredForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/unregistered-coupon-list/create/index.tsx
  frontend/src/@pages/unregistered-coupon-list/index.tsx
  frontend/src/mocks/fixtures/unregistered-coupon.ts
  frontend/src/mocks/handlers/unregistered-coupon.ts
  frontend/src/types/unregistered-coupon/client.ts
  frontend/src/types/unregistered-coupon/remote.ts
Labels: 🦄 frontend, 👊 feature

#507 feat: 미등록 쿠폰 조회 및 등록 기능 개선
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponExpiredTime/index.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/index.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/unregistered-coupon.ts
  frontend/src/@hooks/business/unregistered-coupon.ts
  frontend/src/@pages/unregistered-coupon-list/index.tsx
  frontend/src/@pages/unregistered-coupon-list/style.tsx
  frontend/src/@pages/unregistered-coupon-register/IssuedRegisteredCouponPage/index.tsx
  frontend/src/storage/session/index.ts
Labels: 🦄 frontend, 👊 feature

#512 fix: unregisteredCouponStatus -> lazyCouponStatus로 필드명, 타입 수정
  frontend/src/@components/unregistered-coupon/UnregisteredCouponItem/index.tsx
  frontend/src/@pages/unregistered-coupon-register/index.tsx
  frontend/src/mocks/fixtures/unregistered-coupon.ts
  frontend/src/mocks/handlers/unregistered-coupon.ts
  frontend/src/types/unregistered-coupon/client.ts
Labels: 🦄 frontend, 🚨 hotfix, 👊 feature

#515 fix: 미등록 쿠폰 아이디 기반 단일 조회를 LazyCoupon의 아이디로 조회
  backend/src/main/java/com/woowacourse/kkogkkog/lazycoupon/application/LazyCouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/lazycoupon/domain/repository/CouponLazyCouponRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/lazycoupon/application/LazyCouponServiceTest.java
Labels: 🕋 backend, 🚨 hotfix

#517 fix: onClickRegisteredCouponItem은 디테일 페이지로 라우팅을 트리거한다.
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/unregistered-coupon-list/index.tsx
Labels: 🦄 frontend, 🚨 hotfix

#520 feat: RECEIVE 이벤트에 대한 메시지 추가
  frontend/src/constants/coupon.ts
  frontend/src/types/coupon/client.ts
Labels: 🦄 frontend, 👊 feature

#522 feat: 미등록 쿠폰 UX writing 수정
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/unregistered-coupon/UnregisteredCouponCreateForm/index.tsx
  frontend/src/@pages/coupon-create-select/index.tsx
  frontend/src/@pages/main/index.tsx
  frontend/src/@pages/unregistered-coupon-list/create/index.tsx
  frontend/src/@pages/unregistered-coupon-list/index.tsx
Labels: 🦄 frontend, 👊 feature

#523 fix: 에러 바운더리 이슈 해결
  frontend/src/@components/@shared/ErrorFallback/index.tsx
  frontend/src/@components/@shared/ErrorFallback/style.tsx
Labels: 🦄 frontend, 🚨 hotfix, 👊 feature

#524 feat: 유저 검색에서 이메일 정보 제거
  frontend/src/@components/user/UserSearchForm/index.tsx
Labels: 🦄 frontend, 👊 feature

#525 refactor: 불필요한 테스트, 주석 파일 제거
  frontend/src/@components/coupon/CouponModal/index.tsx
  frontend/src/@components/coupon/CouponModal/style.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/Router.tsx
  frontend/src/tests/page-test/NotFound.test.tsx
  frontend/src/tests/page-test/ProfilePage.test.tsx
Labels: 🦄 frontend, 🛠 refactor

#528 refactor: 테스트 코드 정리
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/LazyCouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/support/AcceptanceContext.java
  backend/src/test/java/com/woowacourse/kkogkkog/auth/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/ConcurrentCouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/LazyCouponDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/GoogleClientTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/PushAlarmListenerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/SlackClientTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/WoowacoursePushAlarmClientTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/WoowacoursePushAlarmListenerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/event/PushAlarmPublisherTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/lazycoupon/application/LazyCouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/lazycoupon/domain/LazyCouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/lazycoupon/domain/LazyCouponTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/MemberHistoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/repository/MemberHistoryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/application/ApplicationTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/domain/CouponFactory.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/domain/CouponFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/dto/CouponDtoFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/dto/LazyCouponDtoFixture.java
Labels: 🕋 backend, 🛠 refactor

#527 docs: Readme 개선
  README.md
Labels: 📖 docs

#529 refactor: 프로덕션 코드 정리
  backend/src/main/java/com/woowacourse/kkogkkog/auth/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/config/ArgumentResolverConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/kkogkkog/auth/presentation/LoginInterceptor.java
  backend/src/main/java/com/woowacourse/kkogkkog/common/config/LogAspect.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponMeetingData.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponStatusRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/CouponHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/event/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/event/CouponEventType.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/state/CouponState.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/state/CouponStatus.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/dto/CouponCreateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/dto/CouponEventRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/dto/WorkspaceResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/event/PushAlarmEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/event/WoowacoursePushAlarmEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/lazycoupon/application/dto/LazyCouponSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/lazycoupon/domain/LazyCoupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/lazycoupon/presentation/LazyCouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/lazycoupon/presentation/dto/LazyCouponCreateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/Nickname.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/ConcurrentCouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/event/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/event/CouponEventTypeTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/repository/CouponRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/state/CouponStateTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/state/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/event/PushAlarmPublisherTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/MemberHistoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/NicknameTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/repository/MemberHistoryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/domain/CouponFactory.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/fixture/dto/CouponDtoFixture.java
Labels: 🕋 backend, 🛠 refactor
