Repository woowacourse-teams/2022-kkogkkog, pull requests merged in 2022-08, with the labels that each got.

#147 refactor: axios transformResponse 제거 및 react-query 훅 리팩터링
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/big.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/small.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@hooks/@queries/kkogkkog.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/kkogkkog/useChangeKkogKkogStatus.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogForm.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogList.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogStatusMutation.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useMe.ts
  frontend/src/@hooks/user/useSearchUser.ts
  frontend/src/@hooks/user/useUserList.ts
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/login/redirect.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/kkogkkog.ts
  frontend/src/apis/user.ts
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 🛠 refactor

#139 feat: 쿠폰 상태 변경에 대한 History 생성 기능 구현
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/MemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
Labels: 🕋 backend, 👊 feature

#146 chore: 리뷰 가능 상태로 전환된 draft PR에 대한 CI 트리거 추가
  .github/workflows/pull-request-ci.yml
Labels: ⚙️ config

#148 refactor: KkogKkog 워딩 -> Coupon으로 변경
  frontend/.vscode/settings.json
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Header/style.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.style.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/horizontal.style.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponList/vertical.style.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/coupon/CouponModal/index.tsx
  frontend/src/@components/coupon/CouponModal/style.tsx
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/coupon/CouponStatus/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/vertical.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@hooks/coupon/useCouponModal.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogModal.ts
  frontend/src/@pages/coupon-list/create/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/coupon.ts
  frontend/src/apis/kkogkkog.ts
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/mocks/handlers/coupon.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/kkogkkog.ts
  frontend/src/types/client/coupon.ts
  frontend/src/types/remote/request.ts
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 🛠 refactor

#153 refactor: 중간 리팩터링 - react query 기반의 훅 구조 리팩터링
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponModal/index.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useSearchUser.ts
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/login/redirect.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 🛠 refactor

#150 feat: 사용자 닉네임 수정 기능 구현
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberUpdateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/MemberUpdateMeRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 👊 feature

#154 feat: 쿠폰 상태 변경에 대한 History 조회 기능 구현
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponMemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/MemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/MemberHistoriesResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 👊 feature

#158 feat: 사용자 도메인에 email 필드 추가
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponMemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackUserInfo.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/fixture/MemberFixture.java
Labels: 🕋 backend, 👊 feature

#160 feat: Slack Workspaces 앱 등록 기능 구현
  backend/src/main/java/com/woowacourse/kkogkkog/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Workspace.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/WorkspaceRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/auth/BotInstallationFailedException.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/BotTokenResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackClient.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/WorkspaceResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/AuthController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/InstallSlackAppRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/SlackClientTest.java
Labels: 🕋 backend, 👊 feature

#165 feat: History 방문 여부에 대한 방문 상태 변경 기능
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/MemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/member/MemberHistoryNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberHistoryTest.java
Labels: 🕋 backend, 👊 feature

#162 feat: 프로필/프로필 수정 페이지 구현
  frontend/public/assets/images/beer.png
  frontend/public/assets/images/coffee.png
  frontend/public/assets/images/meal.png
  frontend/src/@components/@shared/Button/index.tsx
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Header/style.tsx
  frontend/src/@components/@shared/Icon/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/coupon/CouponModal/index.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@hooks/@common/useGetSearchParams.ts
  frontend/src/@hooks/@common/useInput.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useEditProfileForm.ts
  frontend/src/@pages/login/index.tsx
  frontend/src/@pages/profile/edit/index.tsx
  frontend/src/@pages/profile/edit/style.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/@pages/profile/style.tsx
  frontend/src/Router.tsx
  frontend/src/apis/user.ts
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/user.ts
  frontend/src/types/remote/request.ts
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 👊 feature

#159 feat : 로깅 기능 구현
  backend/.gitignore
  backend/src/main/java/com/woowacourse/kkogkkog/config/LogAspect.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/GlobalControllerAdvice.java
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/file-all-appender.xml
  backend/src/main/resources/file-error-appender.xml
  backend/src/main/resources/file-info-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🕋 backend, 👊 feature

#171 feat: 알림함 UI 개발
  frontend/.yarn/cache/react-query-npm-3.39.1-7899b170b9-9273b7c2ad.zip
  frontend/package.json
  frontend/public/_redirects
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Header/style.tsx
  frontend/src/@components/@shared/Icon/Icons/Notification.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@components/user/UserHistoryItem/style.tsx
  frontend/src/@components/user/UserHistoryList/index.tsx
  frontend/src/@components/user/UserHistoryList/style.tsx
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/user/useUserHistory.ts
  frontend/src/@pages/history/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/index.ts
  frontend/src/apis/user.ts
  frontend/src/index.tsx
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/user.ts
  frontend/src/types/client/coupon.ts
  frontend/src/types/client/user.ts
  frontend/src/types/remote/request.ts
  frontend/src/types/remote/response.ts
  frontend/src/utils/index.ts
Labels: 🦄 frontend, 👊 feature

#167 feat: 본인 정보 조회 API에 읽지 않은 알림 개수 정보 포함
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MyProfileResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepositoryTest.java
Labels: 🕋 backend, 👊 feature

#168 feat: 슬랙 푸시 알림 기능 구현
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponType.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/MemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/infrastructure/PostMessageRequestFailedException.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackClient.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberHistoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/SlackClientTest.java
Labels: 🕋 backend, 👊 feature

#173 hotfix: React-Query monkey patch 수정
  frontend/.yarn/cache/react-query-npm-3.39.1-7899b170b9-9273b7c2ad.zip
  frontend/src/@hooks/@queries/user.ts
Labels: 🦄 frontend, 🚨 hotfix

#170 feat: 슬랙 앱 다운로드 구현
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/service.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@pages/download/index.tsx
  frontend/src/@pages/download/style.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/coupon.ts
  frontend/src/apis/service.ts
Labels: 🦄 frontend, 👊 feature

#174 feat: MemberHistory Entity에 createdAt를 추가
  backend/src/main/java/com/woowacourse/kkogkkog/KkogKkogApplication.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/BaseEntity.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/MemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 👊 feature

#176 feat: 1차 QA
  frontend/.pnp.cjs
  frontend/package.json
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/coupon/CouponModal/index.tsx
  frontend/src/@components/user/MockLoginFrm/index.tsx
  frontend/src/@components/user/MockLoginFrm/style.tsx
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@pages/landing/style.tsx
  frontend/src/@pages/login/index.tsx
  frontend/yarn.lock
Labels: 🦄 frontend, 👊 feature

#177 feat: 스프린트3 2차 QA
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  frontend/public/assets/images/coffee.png
  frontend/public/assets/images/meal.png
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Header/style.tsx
  frontend/src/@components/@shared/Icon/Icons/Close.tsx
  frontend/src/@components/@shared/Modal/index.tsx
  frontend/src/@components/@shared/Modal/style.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@components/user/UserSearchForm/style.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@pages/coupon-list/create/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/Router.tsx
  frontend/src/types/client/coupon.ts
Labels: 🦄 frontend, 👊 feature

#178 hotfix: 쿠폰 사용 요청 모달에서 완료 버튼 제거
  frontend/src/@components/coupon/CouponModal/index.tsx
Labels: 🦄 frontend, 🚨 hotfix

#194 chore: gradle task 수정
  backend/build.gradle
Labels: 🕋 backend, ⚙️ config

#192 chore: SonarCloud CI 워크플로우 셋업
  .github/workflows/pull-request-ci.yml
  backend/build.gradle
Labels: ⚙️ config

#197 chore: main, develop에 직접 푸쉬한 경우에도 CI 실행되도록 트리거 추가
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-cloud.yml
Labels: ⚙️ config, 🌐 infrastructure

#196 feat: 나의 회원 정보 조회 API ResponseBody 워크스페이스 이름 추가
  backend/src/main/java/com/woowacourse/kkogkkog/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponMemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MyProfileResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Workspace.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/auth/WorkspaceNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackUserInfo.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/WorkspaceResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberHistoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/fixture/WorkspaceFixture.java
Labels: 🕋 backend, 👊 feature

#202 feat: 닉네임에 대해 정규표현식 적용 및 회원가입시 임의의 닉네임 생성
  backend/src/main/java/com/woowacourse/kkogkkog/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/MemberUpdateMeRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberTest.java
Labels: 🕋 backend, 👊 feature

#205 feat: 쿠폰 상세 페이지/메시지 작성 페이지 구현
  frontend/src/@components/coupon/CouponHistoryList/index.tsx
  frontend/src/@components/coupon/CouponHistoryList/style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponListItem/index.tsx
  frontend/src/@components/coupon/CouponListItem/style.tsx
  frontend/src/@components/coupon/CouponModal/index.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@hooks/@common/useInput.ts
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/types.ts
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/requesst/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/requesst/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/history/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/landing/style.tsx
  frontend/src/Router.tsx
  frontend/src/apis/coupon.ts
  frontend/src/constants/coupon.ts
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/coupon.ts
  frontend/src/styles/theme.ts
  frontend/src/types/client/common.ts
  frontend/src/types/client/coupon.ts
  frontend/src/types/client/user.ts
  frontend/src/types/remote/response.ts
  frontend/src/utils/index.ts
  frontend/src/utils/validations.ts
  frontend/webpack.config.js
Labels: 🦄 frontend, 👊 feature

#206 feat: 승인된 쿠폰 섹션 랜딩페이지에 추가
  frontend/src/@components/@shared/Icon/Icons/Hand.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/coupon/AcceptedCouponList/index.tsx
  frontend/src/@components/coupon/AcceptedCouponList/style.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/landing/style.tsx
Labels: 🦄 frontend, 👊 feature

#207 feat: user interaction 추가
  frontend/src/@components/@shared/PageTemplate/style.tsx
  frontend/src/@components/@shared/ToastProvider/index.tsx
  frontend/src/@components/@shared/ToastProvider/style.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@hooks/@common/usePreventReload.ts
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/mocks/handlers/user.ts
  frontend/src/styles/theme.ts
Labels: 🦄 frontend, 👊 feature

#210 feat: Slack Oauth 후 닉네임 변경하기
  frontend/src/@pages/redirect/index.tsx
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 👊 feature

#212 feat: date input 크로스 브라우징 대응
  frontend/package.json
  frontend/src/@hooks/@common/useInput.ts
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/requesst/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/requesst/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/utils/index.ts
Labels: 🦄 frontend, 👊 feature

#211 fix: 나의 쿠폰 조회 API에서 만료된 예약 필터링
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/dto/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/domain/ReservationStatus.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/domain/ReservationFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/query/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/domain/ReservationStatusTest.java
Labels: 🐞 bug, 🕋 backend

#214 refactor: 인수테스트 및 회원 관련 테스트 코드 리팩토링
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AcceptanceContext.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/annotaion/RepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/domain/MemberFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberHistoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/fixture/WorkspaceFixture.java
Labels: 🕋 backend, 🛠 refactor

#220 hotfix: 깨지는 RepositoryTest 수정
  backend/src/main/java/com/woowacourse/kkogkkog/KkogKkogApplication.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/DatabaseConfig.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/annotaion/RepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/query/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/DataClearExtension.java
Labels: 🕋 backend, 🚨 hotfix

#218 refactor: 백엔드 명세 변경에 따른 수정
  frontend/src/@components/coupon/AcceptedCouponList/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/coupon/CouponListItem/style.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/coupon-list/create/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/coupon.ts
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/types/client/coupon.ts
  frontend/src/types/remote/request.ts
  frontend/src/types/remote/response.ts
  frontend/src/types/utils.ts
Labels: 🦄 frontend, 🛠 refactor

#223 refactor: 회원에서 닉네임은 별개의 도메인으로 분리
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Nickname.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/domain/MemberFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/NicknameTest.java
Labels: 🕋 backend, 🛠 refactor

#216 feat: 쿠폰 상세 조회 기능 구현
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/PushAlarmEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/PushAlarmListener.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponDetailData.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/MemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/dto/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/dto/ReservationUpdateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/presentation/ReservationController.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/presentation/dto/ReservationChangeRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/presentation/dto/ReservationCreateRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/PushAlarmListenerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/dto/CouponDtoFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/dto/ReservationDtoFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/documentation/CouponDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/query/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/documentation/ReservationDocumentTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/MemberHistoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepositoryTest.java
Labels: 🕋 backend, 👊 feature

#229 hotfix: created_time으로 필드명 통일
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/BaseEntity.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/MemberHistory.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberHistoryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/domain/Reservation.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/application/ReservationServiceTest.java
Labels: 🕋 backend, 🚨 hotfix

#231 refactor: 배포 환경에 따라 slack redirect uri 구분하기
  frontend/src/@pages/download/index.tsx
  frontend/src/@pages/login/index.tsx
Labels: 🦄 frontend, 🛠 refactor

#228 refactor: 필요없는 SlackClient redirect uri 삭제
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackClient.java
Labels: 🐞 bug, 🕋 backend, 🛠 refactor

#232 hotfix: 동작하는 profile에 따라 SlackClient에 다른 redirect url들 설정
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackClient.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/SlackClientTest.java
Labels: 🐞 bug, 🕋 backend, 🚨 hotfix

#226 chore: 슬랙 API 호출에 대한 예외처리 및 로깅
  backend/src/main/java/com/woowacourse/kkogkkog/exception/auth/BotInstallationFailedException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/auth/WorkspaceNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/infrastructure/BotInstallationFailedException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/infrastructure/PostMessageRequestFailedException.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/BotTokenResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackClient.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/SlackClientTest.java
Labels: 🕋 backend, ⚙️ config

#237 refactor: 쿠폰 생성 API 명세 변경에 따른 수정
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@pages/coupon-list/create/index.tsx
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/mocks/handlers/coupon.ts
  frontend/src/types/remote/request.ts
Labels: 🦄 frontend, 🛠 refactor

#233 feat: Coupon UI 변경
  frontend/src/@components/@shared/ListFilter/style.tsx
  frontend/src/@components/@shared/Placeholder/index.tsx
  frontend/src/@components/coupon/AcceptedCouponList/index.tsx
  frontend/src/@components/coupon/AcceptedCouponList/style.tsx
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.style.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/coupon/CouponStatus/style.tsx
  frontend/src/@components/reservation/ReservationItem/index.tsx
  frontend/src/@components/reservation/ReservationItem/style.tsx
  frontend/src/@components/reservation/ReservationList/index.tsx
  frontend/src/@components/reservation/ReservationList/style.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@pages/coupon-list/create/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/styles/globalStyle.ts
Labels: 🦄 frontend, 👊 feature

#240 refactor: API 명세 변경에 따른 대응
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/apis/coupon.ts
  frontend/src/types/remote/request.ts
Labels: 🦄 frontend, 🛠 refactor

#239 fix: 예약 생성 요청 시 LocalDateTime을 LocalDate로 받도록 수정
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/dto/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/presentation/dto/ReservationCreateRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/PushAlarmListenerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/dto/ReservationDtoFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/documentation/ReservationDocumentTest.java
Labels: 🐞 bug, 🕋 backend

#230 feat : 쿠폰이 ACCEPTED 상태일 때 CANCEL이 가능하도록 기능 추가
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/CouponStatus.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/domain/ReservationStatusTest.java
Labels: 🕋 backend, 👊 feature

#243 feat: QA 진행 후 세부사항 수정
  frontend/src/@components/@shared/Dimmed/index.tsx
  frontend/src/@components/@shared/Input/style.tsx
  frontend/src/@components/@shared/PageTemplate/style.tsx
  frontend/src/@components/coupon/CouponHistoryItem/index.tsx
  frontend/src/@components/coupon/CouponHistoryItem/style.tsx
  frontend/src/@components/coupon/CouponHistoryList/index.tsx
  frontend/src/@components/user/UserHistoryList/index.tsx
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@hooks/user/useEditProfileForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
  frontend/src/@pages/history/index.tsx
  frontend/src/@pages/join/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/landing/style.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/App.tsx
  frontend/src/apis/coupon.ts
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 👊 feature

#246 fix: receiver, sender 데이터를 로그인 대상으로 가져오는 문제 수정
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponReservationResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponReservationData.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/presentation/dto/MyCouponsReservationResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/dto/CouponDtoFixture.java
Labels: 🐞 bug, 🕋 backend

#244 feat: 예약 섹션 UI 개발 및 쿠폰이 없을 때의 뷰 개발
  frontend/public/assets/images/skeleton_coupon_big.png
  frontend/public/assets/images/skeleton_coupon_small.png
  frontend/src/@components/@shared/ToastProvider/index.tsx
  frontend/src/@components/@shared/ToastProvider/style.tsx
  frontend/src/@components/coupon/CouponList/horizontal.style.tsx
  frontend/src/@components/coupon/CouponList/horizontal.tsx
  frontend/src/@components/coupon/CouponList/vertical.style.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/reservation/ReservationItem/index.tsx
  frontend/src/@components/reservation/ReservationItem/style.tsx
  frontend/src/@components/reservation/ReservationList/index.tsx
  frontend/src/@components/reservation/ReservationList/style.tsx
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/@components/reservation/ReservationSection/style.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@pages/landing/index.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/types/remote/response.ts
  frontend/src/utils/index.ts
Labels: 🦄 frontend, 👊 feature

#242 feat: 알림함 기능 보완
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@pages/history/index.tsx
  frontend/src/apis/user.ts
  frontend/src/mocks/handlers/user.ts
Labels: 🦄 frontend, 👊 feature

#235 refactor: SlackClient RedirectUrl 환경변수 주입
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/SlackClient.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/SlackClientTest.java
  frontend/src/@pages/redirect/index.tsx
Labels: 🕋 backend, 🛠 refactor

#251 fix: meetingDate, createdTime 모두 yyyy-MM-dd HH:mm:ss 형식으로 응답
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponReservationResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 🚨 hotfix

#252 feat: 나의 히스토리 전체 열람 변경 기능 구현
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AcceptanceContext.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 👊 feature

#255 feat: 쿠폰 상태 변경 인자로 reservationId 넣어주기
  frontend/src/@components/@shared/PageTemplate/style.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/reservation/ReservationItem/style.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@hooks/user/useEditProfileForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
  frontend/src/@pages/landing/style.tsx
  frontend/src/@pages/profile/edit/index.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/apis/coupon.ts
  frontend/src/types/remote/response.ts
  frontend/src/utils/index.ts
Labels: 🦄 frontend, 👊 feature

#257 feat: QA 전 논의사항 반영
  frontend/public/assets/images/skeleton_coupon_big.png
  frontend/src/@components/@shared/ScrollToTop/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/index.tsx
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/coupon/CouponHistoryItem/index.tsx
  frontend/src/@components/coupon/CouponItem/big.tsx
  frontend/src/@components/coupon/CouponItem/small.tsx
  frontend/src/@components/coupon/CouponList/vertical.tsx
  frontend/src/@components/coupon/CouponModal/index.tsx
  frontend/src/@components/coupon/CouponStatus/index.tsx
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/@components/user/UserHistoryItem/index.tsx
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@hooks/coupon/useCouponModal.ts
  frontend/src/@pages/404/index.tsx
  frontend/src/@pages/404/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/App.tsx
  frontend/src/types/client/coupon.ts
  frontend/src/types/remote/response.ts
  frontend/src/utils/time.ts
  frontend/src/utils/validations.ts
Labels: 🦄 frontend, 👊 feature

#254 feat: 쿠폰 대상을 Sender와 Receiver로 보내주는 기능 추가
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponReservationResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/dto/CouponDtoFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/documentation/CouponDocumentTest.java
Labels: 🕋 backend, 👊 feature

#258 fix: Coupon 상세조회에서 reservationId를 같이 반환하도록 수정
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/application/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponDetailData.java
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponQueryRepository.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/dto/CouponDtoFixture.java
Labels: 🐞 bug, 🕋 backend

#259 fix: 타이핑 긴급 대응
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
Labels: 🦄 frontend, 👊 feature

#260 feat: 승인 및 거절에 메시지 보내도록 수정
  frontend/src/@hooks/coupon/useChangeCouponStatus.ts
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/types/remote/request.ts
Labels: 🦄 frontend, 👊 feature

#263 feat: QA 진행 후 반영
  frontend/src/@components/@shared/Icon/index.tsx
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/profile/index.tsx
Labels: 🦄 frontend, 👊 feature

#262 fix: Reservation의 상태를 제거
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/query/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/application/dto/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/reservation/domain/Reservation.java
  backend/src/test/java/com/woowacourse/kkogkkog/common/fixture/domain/ReservationFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/coupon/domain/query/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/core/reservation/acceptance/ReservationAcceptanceTest.java
Labels: 🕋 backend, 🛠 refactor

#264 feat: UX Writing 수정
  frontend/src/@components/coupon/CouponItem/big.style.tsx
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/@components/reservation/ReservationSection/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/mocks/fixtures/coupon.ts
  frontend/src/utils/time.ts
Labels: 🦄 frontend, 👊 feature

#268 feat: meta tag를 추가한다.
  frontend/public/index.html
Labels: 🦄 frontend, 👊 feature

#271 feat: 로딩 컴포넌트 수정
  frontend/src/@components/@shared/Icon/index.tsx
  frontend/src/@components/@shared/Loading/index.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 👊 feature

#272 feat: toast UI 이슈 해결 및 헤더의 뒤로가기 버튼 사이즈 조절
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/ToastProvider/style.tsx
  frontend/src/@pages/redirect/index.tsx
  frontend/src/utils/time.ts
Labels: 🦄 frontend, 👊 feature

#274 슬랙 알림 메세지 개선
  backend/src/main/java/com/woowacourse/kkogkkog/coupon/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/application/SlackClient.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/dto/PushAlarmRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/coupon/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/PushAlarmListenerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/MemberHistoryTest.java
Labels: 🕋 backend, 🛠 refactor

#275 feat: refetch 시 token 확인하여 로그인으로 리다이렉트 시키기
  frontend/src/@hooks/@common/useTokenMutation.ts
  frontend/src/@hooks/@common/useTokenQuery.ts
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
Labels: 🦄 frontend, 👊 feature

#249 docs: RestDocs 동기화
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/test/java/com/woowacourse/kkogkkog/auth/documentation/AuthDocumentTest.java
Labels: 🕋 backend, 📖 docs

#278 feat: Detail 페이지에 설명 섹션 추가, 쿠폰 히스토리 영문 줄바꿈-요청 날짜 추가
  frontend/src/@components/coupon/CouponHistoryItem/index.tsx
  frontend/src/@components/coupon/CouponHistoryItem/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
Labels: 🦄 frontend, 👊 feature

#277 feat: QA 진행 후 수정
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/style.tsx
  frontend/src/@pages/coupon-list/coupon-detail/style.tsx
  frontend/src/Router.tsx
  frontend/src/index.tsx
Labels: 🦄 frontend, 👊 feature

#279 fix: 로그인시 연관된 워크스페이스 정보도 자동 갱신
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/event/PushAlarmEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/Member.java
Labels: 🐞 bug, 🕋 backend

#282 feat: 회원가입시 형용사와 동물명을 활용한 닉네임을 자동 생성
  backend/src/main/java/com/woowacourse/kkogkkog/member/domain/Nickname.java
  backend/src/test/java/com/woowacourse/kkogkkog/member/domain/NicknameTest.java
Labels: 🕋 backend, 👊 feature

#283 feat: Mutate 액션에 Loading 추가, 글자 깨지는 이슈 해결, 쿠폰 액션 이후 리스트 페이지로 라우팅
  frontend/src/@components/@shared/LoadingProvider/index.tsx
  frontend/src/@components/@shared/ToastProvider/style.tsx
  frontend/src/@components/coupon/CouponHistoryItem/style.tsx
  frontend/src/@hooks/@common/useLoading.ts
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@hooks/coupon/useCouponForm.ts
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
  frontend/src/@pages/coupon-list/index.tsx
  frontend/src/index.tsx
Labels: 🦄 frontend, 👊 feature

#284 feat: 보낸 쿠폰의 액션이면 보낸 쿠폰 리스트로, 받은 쿠폰의 액션이면 받은 쿠폰 리스트로 이동시킨다.
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
Labels: 🦄 frontend, 👊 feature

#285 feat: Coupon Action Navigate에 replace 추가, 필요한 곳에 stale time 추가, 스타일 수정
  frontend/src/@components/coupon/CouponCreateForm/style.tsx
  frontend/src/@components/coupon/CouponHistoryItem/style.tsx
  frontend/src/@hooks/@queries/coupon.ts
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@pages/coupon-list/coupon-detail/accept/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/decline/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/index.tsx
  frontend/src/@pages/coupon-list/coupon-detail/request/index.tsx
Labels: 🦄 frontend, 👊 feature

#287 refactor: 슬랙 알림 비동기 변경
  backend/src/main/java/com/woowacourse/kkogkkog/common/config/AsyncConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/infrastructure/application/PushAlarmListener.java
  backend/src/test/java/com/woowacourse/kkogkkog/infrastructure/application/PushAlarmListenerTest.java
Labels: 🕋 backend, 🛠 refactor

#288 refactor: 예약 확정 섹션 정렬 방식 수정
  frontend/src/@components/reservation/ReservationSection/index.tsx
  frontend/src/utils/time.ts
Labels: 🦄 frontend, 👊 feature

#292 feat: lighthouse CI 설정
  .github/workflows/ci-lighthouse.yml
  frontend/.lighthouserc.js
Labels: 🦄 frontend, 👊 feature

#294 docs: README 서비스 소개, 팀원 소개 작성
  README.md
Labels: 📖 docs
