Repository woowacourse-teams/2022-kkogkkog, pull requests merged in 2022-07, with the labels that each got.

#13 chore: Test와 관련된 환경설정
  backend/build.gradle
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/support/DatabaseCleaner.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/support/ApiDocumentUtils.java
  backend/src/test/resources/application.yml
Labels: 🕋 backend, ⚙️ config

#14 feat: 쿠폰 생성 및 조회 API 구현
  backend/.gitignore
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponType.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/CouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/InvalidRequestException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/NotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/coupon/CouponNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/coupon/CouponTypeNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/coupon/SameSenderReceiverException.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/member/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponCreateRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/support/DatabaseCleaner.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
Labels: 🕋 backend, 👊 feature

#18 feat: 쿠폰 조회 기능 개발
  frontend/.pnp.cjs
  frontend/.yarn/cache/@emotion-core-npm-11.0.0-03ccf93fb4-d9beeff0c1.zip
  frontend/package.json
  frontend/public/assets/images/beer.png
  frontend/public/assets/images/coffee.png
  frontend/public/assets/images/meal.png
  frontend/public/mockServiceWorker.js
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Header/style.tsx
  frontend/src/@components/@shared/Icon/Icons/Profile.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/@shared/Icon/index.tsx
  frontend/src/@components/@shared/PageTemplate/index.tsx
  frontend/src/@components/@shared/PageTemplate/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.stories.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/style.ts
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/apis/index.ts
  frontend/src/apis/kkogkkog.ts
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/fixtures/kkogkkogList.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/kkogkkog.ts
  frontend/src/types/domain.ts
  frontend/src/utils/constants/kkogkkog.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🦄 frontend, 👊 feature

#19 feat: 쿠폰 생성 기능 개발
  frontend/.eslintrc.json
  frontend/public/assets/images/coffee.png
  frontend/src/@components/@shared/Button/index.tsx
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Input/index.tsx
  frontend/src/@components/@shared/Input/style.tsx
  frontend/src/@components/@shared/PageTemplate/style.tsx
  frontend/src/@components/@shared/Position/index.tsx
  frontend/src/@components/@shared/SelectInput/index.tsx
  frontend/src/@components/@shared/SelectInput/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/index.ts
  frontend/src/apis/kkogkkog.ts
  frontend/src/apis/types.ts
  frontend/src/mocks/fixtures/kkogkkogList.ts
  frontend/src/mocks/handlers/kkogkkog.ts
  frontend/src/types/domain.ts
  frontend/src/utils/constants/kkogkkog.ts
  frontend/webpack.config.js
Labels: 🦄 frontend, 👊 feature

#5 docs: 이슈 및 PR 템플릿 수정
  .github/ISSUE_TEMPLATE/backend_template.md
  .github/ISSUE_TEMPLATE/be_feature_request_template.md
  .github/ISSUE_TEMPLATE/default_template.md
  .github/ISSUE_TEMPLATE/fe_feature_request_template.md
  .github/ISSUE_TEMPLATE/frontend_template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ⚙️ config

#36 refactor: PK 컬럼 id로 통일
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponTemplate.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/support/DatabaseCleaner.java
Labels: 🕋 backend, 🛠 refactor

#37 chore: CORS 설정 추가
  backend/src/main/java/com/woowacourse/kkogkkog/KkogKkogApplication.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/WebConfig.java
  backend/src/test/java/com/woowacourse/kkogkkog/KkogKkogApplicationTests.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/support/DatabaseCleaner.java
Labels: 🕋 backend, ⚙️ config, 🛠 refactor

#38 feat: Login UI 구현
  frontend/src/@components/@shared/PageTemplate/index.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/Router.tsx
  frontend/src/styles/globalStyle.ts
Labels: 🦄 frontend, 👊 feature

#42 feat: 회원가입 API 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Member.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/member/MemberDuplicatedEmail.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/MemberCreateRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/fixture/MemberFixture.java
Labels: 🕋 backend, 👊 feature

#48 refactor: Input Component 두 가지 형태로 분리
  frontend/src/@components/@shared/Input/index.tsx
  frontend/src/@components/@shared/Input/style.tsx
  frontend/src/@pages/login/index.tsx
Labels: 🦄 frontend, 🛠 refactor

#52 feat: 쿠폰 상세 모달 UI 구현
  frontend/src/@components/@shared/Dimmed/index.tsx
  frontend/src/@components/@shared/Loading/index.tsx
  frontend/src/@components/@shared/Modal/index.tsx
  frontend/src/@components/@shared/Modal/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/style.tsx
  frontend/src/@pages/join/index.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/styles/globalStyle.ts
Labels: 🦄 frontend, 👊 feature

#54 feat: 회원가입 API 연동
  frontend/src/apis/index.ts
  frontend/src/apis/kkogkkog.ts
  frontend/src/hooks/useAuthenticateForm.ts
Labels: 🦄 frontend, 👊 feature

#50 feat: 쿠폰 단일 조회 API 구현
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponTemplateService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponMemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponTemplateResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponTemplatesResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponTemplate.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponType.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/CouponTemplateRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/coupon/CouponNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponTemplateController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponTemplateAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponTemplateServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/ServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponTemplateControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/kkogkkog/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/DatabaseCleaner.java
Labels: 🕋 backend, 👊 feature

#56 feat: User Search UI 개발
  frontend/src/@components/@shared/Icon/Icons/Close.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/@shared/Input/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/style.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@components/user/UserSearchForm/style.tsx
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/hooks/useModal.ts
  frontend/src/styles/globalStyle.ts
Labels: 🦄 frontend, 👊 feature

#55 feat: 쿠폰 발급 API 구현
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponSaveRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/member/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponCreateRequest.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
Labels: 🕋 backend, 👊 feature

#57 feat: 회원가입 된 회원들의 전체 조회 API 구현
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MembersResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 👊 feature

#60 feat: 사용자별 쿠폰 전체 조회 기능 구현
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/CouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponCreateResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/MyCouponsResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
Labels: 🕋 backend, 👊 feature

#59 feat: 본인 정보 조회 API 구현
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MemberResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 👊 feature

#61 feat: 로그인 기능 구현
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/index.ts
  frontend/src/apis/kkogkkog.ts
  frontend/src/apis/user.ts
  frontend/src/hooks/useAuthenticateForm.ts
  frontend/src/hooks/useMe.ts
  frontend/src/index.tsx
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/user.ts
Labels: 🦄 frontend, 👊 feature

#64 refactor: 컴포넌트 기능을 훅으로 분리, 훅 폴더구조 개선
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@hooks/@common/useModal.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogForm.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useMe.ts
  frontend/src/@pages/join/index.tsx
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/login/index.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/kkogkkog.ts
  frontend/src/apis/user.ts
  frontend/src/types/domain.ts
Labels: 🦄 frontend, 🛠 refactor

#68 refactor: ts strict mode로 설정 후 리팩터링
  frontend/src/@components/@shared/Icon/Icons/Close.tsx
  frontend/src/@components/@shared/Icon/Icons/Profile.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@hooks/kkogkkog/useKkogKkogForm.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useMe.ts
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/@pages/profile/index.tsx
  frontend/src/apis/kkogkkog.ts
  frontend/src/apis/types.ts
  frontend/src/apis/user.ts
  frontend/src/mocks/fixtures/kkogkkogList.ts
  frontend/src/styles/theme.ts
  frontend/src/types/domain.ts
  frontend/src/utils/constants/kkogkkog.ts
  frontend/tsconfig.json
Labels: 🦄 frontend, 🛠 refactor

#75 feat: 멤버별 쿠폰 조회 구현 및 인증이 있는 쿠폰 생성 기능
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@hooks/@common/useStatus.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogForm.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogList.ts
  frontend/src/@hooks/user/useMe.ts
  frontend/src/@hooks/user/useSearchUser.ts
  frontend/src/@hooks/user/useUserList.ts
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
  frontend/src/index.tsx
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/kkogkkog.ts
  frontend/src/types/client/kkogkkog.ts
Labels: 🦄 frontend, 👊 feature

#74 feat: 쿠폰 사용 요청 API 구현
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponChangeStatusRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponEventRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
Labels: 🕋 backend, 👊 feature

#77 feat: Modal.WithHeader 컴포넌트 구현
  frontend/src/@components/@shared/Modal/index.tsx
  frontend/src/@components/@shared/Modal/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/style.tsx
Labels: 🦄 frontend, 👊 feature

#73 feat: Spring Bean Validation 도입
  backend/src/main/java/com/woowacourse/kkogkkog/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/AuthController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponCreateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/MemberCreateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/TokenRequest.java
Labels: 🕋 backend, 👊 feature

#80 refactor: 유효하지 않은 토큰에 대한 예외 클래스 수정
  backend/src/main/java/com/woowacourse/kkogkkog/application/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/auth/UnauthorizedTokenException.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/LoginInterceptor.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/JwtTokenProviderTest.java
Labels: 🕋 backend, 🛠 refactor

#85 feat: 멤버별 쿠폰 조회 구현 및 쿠폰 상태 별 조회 UI 구현
  frontend/src/@components/@shared/ListFilter/index.tsx
  frontend/src/@components/@shared/ListFilter/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/style.ts
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/style.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/style.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/mocks/fixtures/kkogkkogs.ts
  frontend/src/mocks/handlers/kkogkkog.ts
  frontend/src/styles/theme.ts
Labels: 🦄 frontend, 👊 feature

#82 feat: Login API 연동 및 인가 처리
  frontend/src/@hooks/user/useMe.ts
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
  frontend/src/apis/user.ts
Labels: 🦄 frontend, 👊 feature

#84 feat : 쿠폰 사용 요청 취소 API 구현
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponStatus.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
Labels: 🕋 backend, 👊 feature

#88 fix: 쿠폰 목록 조회 버그 수정
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponType.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
Labels: 🐞 bug, 🕋 backend

#94 refactor: 쿠폰 생성 폼의 유저 선택 UI 개선
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/style.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/index.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@components/user/UserSearchForm/style.tsx
  frontend/src/@hooks/kkogkkog/useKkogKkogForm.ts
  frontend/src/@pages/landing/index.tsx
Labels: 🦄 frontend, 🛠 refactor

#90 feat: 쿠폰 사용 요청/취소 기능 구현
  frontend/.vscode/settings.json
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/style.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/style.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/style.tsx
  frontend/src/@hooks/kkogkkog/useKkogKkogList.ts
  frontend/src/apis/kkogkkog.ts
  frontend/src/mocks/fixtures/kkogkkogs.ts
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/kkogkkog.ts
  frontend/src/mocks/handlers/user.ts
  frontend/src/types/client/kkogkkog.ts
  frontend/src/types/remote/request.ts
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 👊 feature

#98 feat: 랜딩 페이지 Suspense 처리, router의 state를 잘 활용해보자
  frontend/src/@components/@shared/CustomSuspense/index.tsx
  frontend/src/@components/@shared/ListFilter/index.tsx
  frontend/src/@components/@shared/ListFilter/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/index.tsx
  frontend/src/@hooks/@common/useRouterState.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogList.ts
  frontend/src/@hooks/user/useMe.ts
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
  frontend/src/types/utils.ts
Labels: 🦄 frontend, 👊 feature

#99 feat : 쿠폰 사용 요청 거절 API 구현
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponStatus.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponStatusTest.java
Labels: 🕋 backend, 👊 feature

#102 feat: 검색기능 개선, meal 타입 추가, 라우팅, 환경변수 사용
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.yarn/cache/dotenv-defaults-npm-2.0.2-436a76242a-c005960bd0.zip
  frontend/.yarn/cache/dotenv-webpack-npm-8.0.0-dccdb9867c-1ca629608b.zip
  frontend/package.json
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useSearchUser.ts
  frontend/src/@pages/landing/index.tsx
  frontend/src/apis/index.ts
  frontend/src/types/client/kkogkkog.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🦄 frontend, ⚙️ config, 👊 feature

#100 feat : 쿠폰 사용 요청 수락 기능 구현
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponStatus.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
Labels: 🕋 backend, 👊 feature

#104 feat: 쿠폰 사용 승인 기능 구현
  frontend/package.json
  frontend/public/assets/font/Pretendard-Black.woff
  frontend/public/assets/font/Pretendard-ExtraBold.woff
  frontend/public/assets/font/Pretendard-ExtraLight.woff
  frontend/public/assets/font/Pretendard-Thin.woff
  frontend/src/@components/@shared/ListFilter/index.tsx
  frontend/src/@components/@shared/ListFilter/style.tsx
  frontend/src/@components/@shared/Modal/index.tsx
  frontend/src/@components/@shared/Modal/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/index.tsx
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@pages/profile/index.tsx
  frontend/src/constants/animation.ts
  frontend/src/mocks/fixtures/kkogkkogs.ts
  frontend/src/styles/globalStyle.ts
  frontend/webpack.config.js
Labels: 🦄 frontend, 👊 feature

#106 feat: 2차 데모
  frontend/src/@components/@shared/Modal/index.tsx
  frontend/src/@components/@shared/Modal/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/style.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/style.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@components/user/UserSearchModal/index.tsx
  frontend/src/@hooks/kkogkkog/useChangeKkogKkogStatus.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogForm.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/@hooks/user/useMe.ts
  frontend/src/@hooks/user/useSearchUser.ts
  frontend/src/@pages/kkogkkog-list/create/index.tsx
Labels: 🦄 frontend, 👊 feature

#112 refactor: 중간 리팩터링 - 꼭꼭 모달
  frontend/src/@components/@shared/ListFilter/index.tsx
  frontend/src/@components/@shared/Modal/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogListContainer/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogListContainer/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@components/kkogkkog/ReceivedKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/index.tsx
  frontend/src/@components/kkogkkog/SentKkogKkog/style.tsx
  frontend/src/@hooks/kkogkkog/useKkogKkogModal.ts
  frontend/src/@hooks/kkogkkog/useKkogKkogStatusMutation.ts
  frontend/src/@pages/landing/index.tsx
Labels: 🦄 frontend, 🛠 refactor

#111 feat : 쿠폰 사용 완료 API 구현
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponEvent.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/CouponStatus.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
Labels: 🕋 backend, 👊 feature

#110 refactor: data 필드의 dto 클래스 통합
  backend/src/main/java/com/woowacourse/kkogkkog/application/MemberService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/MembersResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/MyCouponsResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/SuccessResponse.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
Labels: 🕋 backend, 🛠 refactor

#114 refactor : 백엔드 코드 스타일 전체 적용
  backend/src/main/java/com/woowacourse/kkogkkog/application/AuthService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/CouponService.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/kkogkkog/application/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/InterceptorConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/config/WebConfig.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/Coupon.java
  backend/src/main/java/com/woowacourse/kkogkkog/domain/repository/CouponRepository.java
  backend/src/main/java/com/woowacourse/kkogkkog/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/LoginInterceptor.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/LoginMember.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponCreateRequest.java
  backend/src/main/java/com/woowacourse/kkogkkog/presentation/dto/CouponEventRequest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/JwtTokenProviderTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/kkogkkog/documentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/kkogkkog/support/DatabaseCleaner.java
Labels: 🕋 backend, 🛠 refactor

#117 refactor : 서비스 및 도메인 테스트에 DCI 패턴 적용
  backend/src/test/java/com/woowacourse/kkogkkog/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/JwtTokenProviderTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponEventTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/kkogkkog/domain/CouponTest.java
Labels: 🕋 backend, 🛠 refactor, 🙋 suggestion

#127 feat: 쿠폰 리스트 뷰 업데이트
  frontend/public/assets/font/BMHANNAProOTF.otf
  frontend/public/assets/images/beer.png
  frontend/public/assets/images/coffee.png
  frontend/public/assets/images/meal.png
  frontend/src/@components/@shared/ListFilter/index.tsx
  frontend/src/@components/@shared/ListFilter/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/big.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/vertical.tsx
  frontend/src/@components/kkogkkog/KkogKkogListContainer/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogListContainer/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogModal/index.tsx
  frontend/src/@hooks/kkogkkog/useKkogKkogList.ts
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
  frontend/src/mocks/fixtures/kkogkkogs.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/types/client/kkogkkog.ts
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 👊 feature

#124 config: 깃헙 액션을 통해 PR에 대해 CI 설정
  .github/workflows/pull-request-ci.yml
Labels: ⚙️ config

#135 feat: 쿠폰 생성 Form UI 개선 작업
  frontend/src/@components/@shared/Header/index.tsx
  frontend/src/@components/@shared/Header/style.tsx
  frontend/src/@components/@shared/Icon/Icons/Arrow.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/@shared/Input/style.tsx
  frontend/src/@components/@shared/SelectInput/style.tsx
  frontend/src/@components/kkogkkog/CouponStatus/index.tsx
  frontend/src/@components/kkogkkog/CouponStatus/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/index.tsx
  frontend/src/@components/kkogkkog/KkogKkogCreateForm/style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/big.style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/big.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/small.style.tsx
  frontend/src/@components/kkogkkog/KkogKkogItem/small.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/vertical.style.tsx
  frontend/src/@components/kkogkkog/KkogKkogList/vertical.tsx
  frontend/src/@components/user/UserSearchForm/index.tsx
  frontend/src/@components/user/UserSearchForm/style.tsx
  frontend/src/@components/user/UserSearchModal/index.tsx
  frontend/src/@hooks/user/useSearchUser.ts
  frontend/src/@pages/kkogkkog-list/create/index.tsx
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/@pages/landing/index.tsx
  frontend/src/Router.tsx
  frontend/src/utils/index.ts
Labels: 🦄 frontend, 👊 feature

#141 feat: 슬랙 API 연동
  frontend/src/@components/@shared/Icon/Icons/Slack.tsx
  frontend/src/@components/@shared/Icon/Icons/index.tsx
  frontend/src/@components/@shared/Icon/index.tsx
  frontend/src/@hooks/@common/useGetSearchParams.tsx
  frontend/src/@hooks/@queries/user.ts
  frontend/src/@pages/login/index.tsx
  frontend/src/@pages/login/redirect.tsx
  frontend/src/Router.tsx
  frontend/src/apis/user.ts
  frontend/src/types/remote/response.ts
Labels: 🦄 frontend, 👊 feature

#137 feat: Toast UI 개발
  frontend/src/@components/@shared/ToastProvider/index.tsx
  frontend/src/@components/@shared/ToastProvider/style.tsx
  frontend/src/@hooks/@common/useToast.ts
  frontend/src/@hooks/user/useAuthenticateForm.ts
  frontend/src/index.tsx
Labels: 🦄 frontend, 👊 feature

#143 refactor: reduce 제네릭 타입 추가
  frontend/src/@pages/kkogkkog-list/index.tsx
  frontend/src/types/client/kkogkkog.ts
Labels: 🦄 frontend, 🛠 refactor

#144 feat: 404 페이지 개발
  frontend/public/assets/images/404.png
  frontend/src/@pages/404/index.tsx
  frontend/src/@pages/404/style.tsx
  frontend/src/Router.tsx
Labels: 🦄 frontend, 👊 feature

#132 chore: MySQL DB 마이그레이션 및 Spring Profile 적용
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: 🕋 backend, 🌐 infrastructure
